article {
    background-color: lightblue;
    margin: 5px;
    padding: 5px;
    box-shadow: 5px 10px 8px #888888;
}

img {
    width: 200px;
}

section {
    display: grid;
    grid-template-columns: 1fr;
}

body {
    font-family: 'Garamond', 'serif';
    text-align: center;
}

h2 {
    font-family: 'Cardo', 'serif';
}

@media only screen and (min-width: 32.5em) {
    section {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 60em) {
    section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}