/* LEGEND KEY:

----- : Semantic Parts of pages
##### : Page Title
===== : Sections or Divs (Specific points in a page)
(Normal Comments) : Other specifics

*/

/*-------------------- SMALL / MAIN MEDIA QUERY -------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700|Source+Sans+Pro:300,400,600&display=swap');

body {
    overflow-x: hidden;
}

.bannerwidth {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*---------- H E A D E R ---------- */

header {
    display: flex;
    justify-content: center;
}

header img {
    width: 5%;
    padding: 1%;
}

/*---------- N A V I G A T I O N ----------*/

/* Menu List Start */
nav {
    margin: 0 auto;
    background-color: #3E4035;
    font-family: 'Source Sans Pro', 'serif';
    font-weight: 400;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #000;
    background-color: #F2EBD5;
    font-weight: 700;
}

.responsive li {
    display: block;
}

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: white;
    }
}

/* Menu List End */

/*---------- M A I N ----------*/

/* ########## HOMEPAGE Start ########## */

/* ===== Hero Image Start ===== */

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;
    /* ADD THIS LINE */

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1530643343472-a19bbce698e0?ixlib=rb-1.2.1&auto=format&fit=crop&w=2125&q=80);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 700;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero h3 {
    font-family: 'Robot Slab', 'serif';
    font-weight: 300;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 600;

    /* Border styles */
    border: 3px solid white;
}

.btn:hover {
    background-color: white;
    color: black;
}

/* ===== Hero Image End ===== */

/* ===== Specialized Service Section Start ===== */

.specialized-services {
    padding: 2.5em;
    display: flex;
    justify-content: space-around;
}

/* Text Styles */
.specialized-services h1 {
    font-family: 'Roboto Slab', 'serif';
    font-weight: 700;
}

.specialized-services p {
    color: black;
    font-size: x-large;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 300;
}

.services-text {
    padding: 5em;
}

.specialized-services img {
    width: 40%;
}

/* ===== Specialized Service Section End ===== */

/* ===== Free Amenities Start ===== */

.amenity-div {
    background: rgb(39, 37, 28);
}


.amenity-div h1 {
    font-family: 'Roboto Slab', 'serif';
    font-weight: 400;
    text-align: center;
    padding: 1em;
    color: white;
}

.free-amenities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

figure {
    text-align: center;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 300;
}

figcaption {
    font-size: x-large;
    font-weight: 300;
}

figcaption h3 {
    margin: 0 auto;
}

.free-amenities figcaption,
p {
    color: white;
}

figure img {
    width: 50%;
}

/* ===== Free Amenities End ===== */

/* ===== Temple Availability Start ===== */

.temple-availability {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', 'serif';
    font-weight: 500;
}

.temple-availability img {
    padding: 1em;
}

.temple-availability:visited {
    color: black;
    text-decoration: none;
}

.temple-availability:link {
    color: black;
    text-decoration: none;
}

/* ===== Temple Availability End ===== */

/* ===== Homepage Contact Start ===== */

.homepagecontact {
    padding: 2em;
    background-color: #F2EBD5;
    font-family: 'Source Sans Pro', 'sans-serif';
}

.homepagecontact p {
    color: black;
    text-align: center;
    font-family: 'Source Sans Pro', 'sans-serif';
}

.homepagecontact h3 {
    text-align: center;
}

/* Homepage Contact Button */
.contact-btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 700;

    /* Border styles */
    border: 3px solid black;
}

.contact-btn:hover {
    background-color: black;
    color: white;
}

/* ===== Homepage Contact End ===== */

/* ########## HOMEPAGE End ########## */






/* ########## TEMPLE Start ########## */

/*
.temple-figure-image {
    width: 100%;
    box-shadow: 15px 15px 10px 0px rgba(0,0,0,0.1);
}
*/

.temple-image {
    width: 100%;
    box-shadow: 15px 15px 10px 0px rgba(0,0,0,0.1);
}

.temple-main {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

.temple-name {
    font-family: 'Roboto Slab', 'serif';
    font-weight: 300;
}

.temple-info {
    font-family: 'Source Sans Pro', 'sans-serif';
    padding: 5em;
    color: black;
}

.temple-info p {
    color: black;
    font-family: 'Source Sans Pro', 'sans-serif';
}

.temple-info li {
    color: black;
    font-family: 'Source Sans Pro', 'sans-serif';
    list-style: none;
}

/* ########## TEMPLE End ########## */






/* ########## RESERVATION Start ########## */

.reservationh3 {
    font-family: 'Source Sans Pro', 'serif';
    font-weight: 700;
}

form {
    max-width: 500px;
    margin: 0 auto;
    border: whitesmoke solid 2px;
    border-radius: 3px;
    padding: 3em;
    box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.3);
}

label {
    display: inline-block;
    min-width: 120px;
}

form div {
    margin-top: 2px;
    padding: 5px;
}

.flex {
    display: flex;
}

.nomargin {
    margin: 0;
}

.align-top {
    vertical-align: top;
}

.reservationform {
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 400;
    padding: 3em;
}

.thanks {
    font-size: 50px;
    text-align: center;
}

.submitbutton {
    border: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 400;
}

.resetbutton {
    background-color: #990000;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 700;
}


/* ########## RESERVATION End ########## */






/* ########## THANK YOU PAGE Start ########## */

.thankyoupage {
    text-align: center;
    font-family: 'Robot Slab', 'serif';
    font-weight: 400;
    padding: 5em;
}

/* ########## THANK YOU PAGE End ########## */





/* ########## SERVICES Start ########## */

/*
.services-div {
    background: rgb(39, 37, 28);
} */

.services-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.services-figure {
    text-align: center;
}

.services-figcaption {
    font-size: x-large;
}

.services-figcaption h3 {
    padding-top: 1em;
    font-size: xx-large;
    font-family: 'Robot Slab', 'serif';
    font-weight: 500;
}

.services-paragraph {
    color: black;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 300;
    font-size: large;
}

/* .services-section figcaption,
p {
    color: white;
}
*/

.services-image {
    width: 75%;
    box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.3);
}

/* Additional Services */
.additional-services h1 {
    text-align: center;
    font-family: 'Robot Slab', 'serif';
    font-weight: 500;
}

.additional-services img {
    width: 50%;
    box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.3);
}

.additional-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Additional Services Button */
.additional-services-btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;

    /* Padding and margins */
    padding: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 600;

    /* Border styles */
    border: 3px solid black;
}

.additional-services-btn:hover {
    background-color: black;
    color: white;
}

/* ########## SERVICES End ########## */





/* ########## CONTACT Start ########## */

.contactus {
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 400;
    padding: 3em;
}

.contactush1 {
    font-family: 'Roboto Slab', 'serif';
    font-weight: 400;
    text-align: center;
}

.contactusform {
    border: whitesmoke solid 2px;
    border-radius: 3px;
    padding: 3em;
    box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.3);
}

.map {
    display: flex;
    justify-content: center;
    padding: 1em;
}

/* ########## CONTACT End ########## */





/* ########## WEDDING Start ########## */

.wedding-figure-image {
    width: 50%;
    /* box-shadow: 15px 15px 10px 0px rgba(0,0,0,0.1); */
}

/* ########## WEDDING End ########## */






/* ########## TEMPLE MISSIONARY Start ########## */

.missionarycontactbox {
    font-family: 'Source Sans Pro', 'sans-serif';
    font-weight: 400;
    padding: 3em;
}

.missionarycontact {
    font-family: 'Roboto Slab', 'serif';
    font-weight: 400;
    text-align: center;
}

.missionarycontactform {
    border: whitesmoke solid 2px;
    border-radius: 3px;
    padding: 3em;
    box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.0);
}


/* ########## TEMPLE MISSIONARY End ########## */








/*---------- F O O T E R ----------*/

footer {
    background-color: #798C89;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto Slab', 'serif';
}

/*-------------------- MEDIUM MEDIA QUERY -------------------- */

@media only screen and (min-width: 700px) {

    /*---------- H E A D E R ---------- */

    /*---------- N A V I G A T I O N ----------*/

    /*---------- M A I N ----------*/

    /*---------- F O O T E R ----------*/
}

/*-------------------- LARGE MEDIA QUERY -------------------- */

@media only screen and (min-width: 60em) {

    /*---------- H E A D E R ---------- */

    /*---------- N A V I G A T I O N ----------*/

    /*---------- M A I N ----------*/

    /*---------- F O O T E R ----------*/
}