* {
    margin: 0;
    box-sizing: border-box;
}

/* ---------- BODY ---------- */

body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

header,
main,
footer {
    margin: 1.25rem auto;
    padding: 1rem;
    max-width: 50rem;
    border-radius: 10px;
}

header,
footer,
footer a {
    text-align: center;
    background-color: #36454f;
    color: whitesmoke;
}

/* ---------- HEADER ---------- */

h1 {
    font-size: 2em;
    color: white;
    text-align: center;
}

header img {
    height: auto;
    float: right;
}

/* ---------- NAV (NAVIGATION) ---------- */

/* ---------- MAIN ---------- */

h2 {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid #bbb;
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    font-family: 'Montserrat', sans-serif;
}
/* ---------- FOOTER ---------- */

footer {
    font-size: 1em;
}

#timeUpdate {
    color: yellow
}

/* ---------- MISC or COMBINED ---------- */

